* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif; /* Define a fonte padrão para todos os elementos */
}

.navbar {
    background-color: red;
    padding: 1rem;
    color: white;
    margin-top: 0;
}

body {
    background-image: url('../../components/img/Background.png');
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    position: relative; /* Adicionado para posicionamento absoluto da imagem */
}

.image-description-container {
    position: absolute;
    top: 150px;
    left: 300px; /* Define a distância da imagem e descrição em relação ao lado esquerdo da página */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-image {
    display: block; /* Faz a imagem ser um elemento de bloco */
    width: 250px; /* Define a largura da imagem */
    height: 250px; /* Define a altura da imagem */
    border-radius: 50%; /* Torna a imagem redonda */
}

.description {
    margin-top: 20px; /* Espaço entre a imagem e a descrição */
    padding: 50px;
   
}

.content {
    margin-top: 6em; /* Adiciona espaço entre a navbar e o conteúdo */
    width: 50%; /* Define a largura da div de conteúdo */
    float: right; /* Faz com que a div flutue para a direita */
}

h3 {
    font-size: 1.3em;
    color: white;
    margin-bottom: -0.2em;
    border: 2px solid rgb(249, 33, 33);
    padding: 3px;
    border-radius: 6px;
    width: 120px;
    text-align: center;
    background-color: rgb(249, 33, 33);
}

.paragraphs-container {
    font-size: 0.9em;
    border: 2px solid #ffffff; /* Adiciona uma borda sólida de 2 pixels ao redor do contêiner */
    padding: 10px; /* Adiciona um padding ao redor do contêiner */
    margin-bottom: 20px; /* Adiciona um espaçamento inferior entre os contêineres */
    width: 400px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra de 5 pixels de deslocamento horizontal, 5 pixels de deslocamento vertical, 10 pixels de desfoque e 0.1 de opacidade */
}
